<ng-template #loading>
    <span>Loading...please wait</span>
</ng-template>
<ng-template #errorInfo>
    <span>{{errorMessage}}</span>
</ng-template>
<ng-template #norecord>
    <span>No records</span>
</ng-template>
<div *ngIf="loadingComplete;else loading">
    <div class="container-fluid container-spacing" *ngIf="errorMessage==='';else errorInfo">
        <!-- <div class="md-4">
        <label for="txtFilter">Filter By:&nbsp;</label>
        <input type="text" id="txtFilter" [value]="filterText" (keyup)="updateFilterText(filterTxt.value)" #filterTxt>
    </div> -->
        <app-filter [sample]="data" (filterValueChanged)="updateFilterText($event)"></app-filter>
        <br>
        <table class="table table-hover" *ngIf="productRecords; else norecord">
            <thead class="thead-color">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody class="table-dark">
                <tr *ngFor="let p of (productRecords|productfilter:filterText)">
                    <td>
                        <img [src]="p.imageUrl" alt="NA" title="{{p.productName}}" class="img-size"
                            [routerLink]="['/products',p.productId]">
                    </td>
                    <td>{{p.productName | uppercaseconverter}}</td>
                    <td>{{p.price | currency:'INR'}}</td>
                    <td>{{p.starRating}}</td>
                    <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>